@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: 0, 0%, 0%;
  --color-white: 0, 0%, 100%;
  --color-light-gray: 0, 0%, 88%;
  --color-gray: 0, 0%, 59%;
  --color-light-coffee: 43, 11%, 88%;
  --color-coffee: 25, 73%, 17%;
  --color-dark-coffee: 25, 73%, 9%;
  --color-orange-coffee: 26, 74%, 42%;
  --color-brown: 43, 56%, 71%;

  --color-track-scrollbar: 0, 0%, 95%;
  --color-thumb-scrollbar: 0, 0%, 74%;

  --title1: 2.5em;
  --title2: 1.875em;
  --title3: 1.125em;
  --title4: .75em
}

.wrapContent{
  width: 100%;
  max-width: 1248px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(3, auto);
  gap: 1.5rem;
  grid-template-areas: "header header header header"
                       "main   main   main   main"
                       "footer footer footer footer";
}
.container{
  grid-area: main;
  font-size: 16px;
  font-weight: 500;
}
p{
  color: hsl(var(--color-dark-coffee));
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.312rem;
}

/*Custom material symbols styles*/

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
span.s-16 {
  font-size: 16px;
  font-variation-settings: 'OPSZ' 16;
}
span.s-20 {
  font-size: 20px;
  font-variation-settings: 'OPSZ' 20;
}
span.s-24 {
  font-size: 24px;
  font-variation-settings: 'OPSZ' 24;
}
span.s-40 {
  font-size: 40px;
  font-variation-settings: 'OPSZ' 40;
}
span.s-48 {
  font-size: 48px;
  font-variation-settings: 'OPSZ' 48;
}
/*Titles*/
.title{
  font-weight: 700;
  color: hsl(var(--color-dark-coffee));
  line-height: 1.312em;
}
.title1{
  font-size: var(--title1);
}
.title2{
  font-size: var(--title2);
  font-weight: 600;

}
.title3{
  font-size: var(--title3);
}
.title4{
  font-size: var(--title4);
  font-weight: 500;
}

/*Loading component*/
.Loading {
  height: calc(100vh - 200px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.Loading__spinner{
  animation-name: rotate;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/*Utils*/
.textMuted{
  color: hsla(var(--color-gray),.6);
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.textCenter{
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.f-semibold{
  font-weight: 600 !important
}
/*Breakponts screen size*/
@media (min-width: 640px) {
  .container{
    font-size: 19px;
  }
  .inner{
    width: 100%;
    max-width: 1033px;
    margin: auto;
  }

}