@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: 0, 0%, 0%;
  --color-white: 0, 0%, 100%;
}

/*Custom material symbols styles*/

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}