.container{
    grid-area: footer;
    background-color: hsl(var(--color-black));
    color: hsl(var(--color-white));
    font-weight: 400;
    font-size: .75rem;
    border-radius: 40px 40px 0 0;
}
.logo{
    font-family: var(--font-mystery-quest);
    font-size: .875rem;

    display: flex;
    align-items: flex-start;
    gap: 4px;
}
.icon{
    font-size: 1.5rem;
    line-height: 0;
}
.link{
    font-weight: 700;
    text-decoration: underline;
}
