.wrap{
    border-radius: 24px;
    max-height: 100%;
    background-color: hsl(var(--color-white));
}
.wrap.floating{
    width: 100%;
    position: absolute;
    top: 80px;
}
.list{
    color: hsl(var(--color-black));
    font-size: 1.125em;
    line-height: 1.31em;
    border-radius: 12px;
    overflow: hidden;

}
.list__itemLink{
    display: block;
    width: 100%;
    border-radius: 12px;

}
.list__itemLink:hover{
    background-color: hsla(var(--color-gray),.1);
}
.list__itemLink:focus{
    outline-offset: -1px;
    outline: solid 1px hsl(var(--color-orange-coffee));
}

/* Breakpint screen size */
@media (min-width:640px) {
    .wrap{
        height: 220px;
        min-height: 220px;
        z-index: 3;
    }
    .list{
        height: calc(100% - 20px);
        overflow-y: auto;
    }
    .list::-webkit-scrollbar{
        width: 5px; 
    }
    .list::-webkit-scrollbar-track{
        background: hsl(var(--color-track-scrollbar))
    }   
    .list::-webkit-scrollbar-thumb {
        background: hsl(var(--color-thumb-scrollbar)); 
        border-radius: 24px;
        border-top: solid 14px transparent;
    }
    
}